<div class="formal">
  <div class="formal-box">
    <div class="formal-content">
    <h2>Formal Model</h2>
    <p>Short Description goes here</p>
    </div>
  </div>
  <div class="formal-filler"></div>
  <div class="formal-box">
    <div class="formal-content">
      <h3>Upload your code</h3>
      <p>Short Description goes here</p>
      <button mat-raised-button color="primary" (click)="uploadFile()">Upload a File</button>
      <button mat-raised-button color="secondary" (click)="pasteCode()"> Paste Source Code</button>
      <app-file-uploader *ngIf="showUploadField == true"></app-file-uploader>
      <app-code-uploader *ngIf="showSourceCodeField == true"></app-code-uploader>
    </div>
  </div>
  <div class="formal-box">
    <div class="formal-content">
  <app-h-code-values-handler></app-h-code-values-handler>
    </div>
  </div>
  <div class="formal-box">
    <div class="formal-content">
  <app-code-presenter></app-code-presenter>
    </div>
  </div>
</div>
