<body class="code-uploader-box">
  <h1 *ngIf="!useMLFormatter">Upload your code to the Formal Syntax Highlighter</h1>
  <h1 *ngIf="useMLFormatter">Upload your code to the Machine Learning Syntax Highlighter</h1>
  <div class="source-code-paster">
    <h2>Paste your code into the text field below:</h2>
    <form [formGroup]="formText">
      <div>
        <mat-form-field appearance="fill" class="source-code-input-field">
          <textarea class="source-code-input-field" matInput placeholder="Paste your source code here..." formControlName="sourceText"></textarea>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <select matNativeControl required formControlName="language">
          <option value="python">Python</option>
          <option value="java">Java</option>
          <option value="kotlin">Kotlin</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Coloring Mode</mat-label>
        <select matNativeControl required formControlName="mode">
          <option value="classic">Classic</option>
          <option value="dark">Dark</option>
          <option value="dracula">Dracula</option>
        </select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="sendTextRequest()"> Submit</button>
  </div>
  <div class="file-uploader">
    <h2>Alternatively you can also upload a file from your computer</h2>
    <form [formGroup]="formFile">
      <input type="file" accept=".java,.py,.kt,.kts,.ktm,.txt" (change)="uploadFile($event)">
      <mat-form-field appearance="fill">
        <mat-label>Coloring Mode</mat-label>
        <select matNativeControl required formControlName="mode">
          <option value="classic">Classic</option>
          <option value="dark">Dark</option>
          <option value="dracula">Dracula</option>
        </select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="sendFileRequest(getFormData(), this.formFile.get('mode')?.value)"> Submit</button>
  </div>
  <br>
</body>
