<body>
<form [formGroup]="form">
  <div>
    <mat-form-field appearance="fill" class="source-code-input-field">
      <textarea class="source-code-input-field" matInput placeholder="Paste your source code here..." formControlName="sourceText"></textarea>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <select matNativeControl required formControlName="language">
      <option value="none">None</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
      <option value="kotlin">Kotlin</option>
    </select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="sendRequest()"> Send</button>
  <br>
</form>
</body>
