<div class="about">
  <h1>About</h1>
  <h2>Used Graphics</h2>
  <p>Presenter: https://pixabay.com/vectors/teacher-presentation-education-6105336/, user=mohamed_hassan</p>
  <p>Money Umbrella: https://pixabay.com/vectors/money-umbrella-rain-cartoon-6947204/, user=mohamed_hassan</p>
  <p>Working Normally: https://pixabay.com/vectors/repair-computer-service-application-6946846/, user=mohamed_hassan</p>
  <p>Dark Blue Network/Background: https://pixabay.com/illustrations/network-internet-technology-4851079/, user=TheDigitalArtist</p>
  <p>Coding brain: https://pixabay.com/vectors/programming-brain-code-programmer-6795536/, user=mohamed_hassan</p>
  <p>Code Picture: https://pixabay.com/illustrations/codes-python-programming-software-5091352/, user=AaronJOlsen</p>
</div>
