<h2>About</h2>
<h3>Links to used graphics</h3>
<p>presenter: https://pixabay.com/vectors/teacher-presentation-education-6105336/</p>
<p>money umbrella: https://pixabay.com/vectors/money-umbrella-rain-cartoon-6947204/</p>
<p>working normally: https://pixabay.com/vectors/repair-computer-service-application-6946846/</p>
<p>dark blue network:https://pixabay.com/illustrations/network-internet-technology-4851079/</p>
<p>code brain; https://pixabay.com/illustrations/network-internet-technology-4851079/</p>
<p>coding brain: https://pixabay.com/vectors/programming-brain-code-programmer-6795536/</p>
