.div-header {
  background-image: url('../../../assets/darkbluenetwork.jpg');
  background-repeat:no-repeat;
}

h1 {
  color: white;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 60px;
  height: 120px;
}

.topnav {
  background-color: rgba(1,24,28,1);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.topnav a.split {
  float: right;
  background-color: #2d282b;
  color: white;
}
