.title {
}

h1 {
  color: #2d282b;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.topnav {
  background-color: #2d282b;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.topnav a.split {
  float: right;
  background-color: #2d282b;
  color: white;
}
