<body class="hcode-value-box">
  <h1>Manage the H-Code Values</h1>
  <div>
    <form [formGroup]="form">
      <h2>Below you can log the H-Code Values</h2>
      <button mat-raised-button color="primary" (click)="logHCodes()">Log All H-Codes</button>
      <br>
      <div>
        <div>
          <h2>Retrieve H-Code Values</h2>
          <input type="number" formControlName="hCodeNumber">
        </div>
      </div>
      <br>
      <button mat-raised-button color="primary" (click)="logHCode()">Submit</button>
    </form>
  </div>
</body>
