<div class="home">
  <h1>Code With Style</h1>
  <div class="home-box-top">
    <div class="home-content">
      <h1>The Smart Online Syntax Highlighter</h1>
    </div>
  </div>
  <div class="home-box-left">
    <div class="home-content">
      <h2>Introducing CWS!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/presenting.png">
        </div>
        <div class="flex-child">
          <p>The new online Syntax Highlighter "Code with Style", or in short CWS,
          allows you to quickly and reliably access syntax highlighting data for your source code.</p>
          <button mat-raised-button color="primary" routerLink="/about" >Go To About</button>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>Leverage a Neural Network!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/codeBrain.png">
        </div>
        <div class="flex-child">
          <p>When choosing our machine learning based syntax highliting option you will be able to experience an ever improving syntax highlighter.</p>
          <button mat-raised-button color="primary" routerLink="/ml-model" >Go To ML Model</button>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-left">
    <div class="home-content">
      <h2>Prefering the classic Approach? We got you covered!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/workingnormally.png">
        </div>
        <div class="flex-child">
          <p>Would you rather rely on an established an pretested approach without an ML model? With our Classic/Standrad approach you can do exactly that!</p>
          <button mat-raised-button color="primary" routerLink="/formal-model" >Go To Formal Model</button>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>CWS is and will always stay free!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/moneyumbrella.png">
        </div>
        <div class="flex-child">
          <p>Start using CWS today. No account creation required and no hidden fees. Curious to find out more and follow the development?</p>
          <button mat-raised-button color="primary" routerLink="/about" >Go To About</button>
        </div>
      </div>
    </div>
  </div>
</div>


