<div class="home">
  <div class="home-box-left">
    <div class="home-content">
      <h2>The online code highlighter</h2>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>Fast and easy</h2>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
    </div>
  </div>
  <div class="home-box-left">
    <div class="home-content">
      <h2>The online code highlighter</h2>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>Fast and easy</h2>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
      <p>text</p>
    </div>
  </div>
</div>


