<div class="home">
  <div class="home-box-left">
    <div class="home-content">
      <h2>Introducing CWS!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/presenting.png">
        </div>
        <div class="flex-child">
          <p>The new online Syntax Highlighter "Code with Style", or in short CWS,
          allows you to quickly and reliably access syntax highlighting data for your source code.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>Leverage a Neural Network!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/codeBrain.png">
        </div>
        <div class="flex-child">
          <p>When choosing our machine learning based syntax highliting option you will be able to experience an ever improving syntax highlighter.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-left">
    <div class="home-content">
      <h2>Prefering the classic Approach? We got you covered!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/workingnormally.png">
        </div>
        <div class="flex-child">
          <p>text goes here</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box-right">
    <div class="home-content">
      <h2>CWS is and will always stay free!</h2>
      <div class="flex-container">
        <div class="flex-child">
          <img src="assets/moneyumbrella.png">
        </div>
        <div class="flex-child">
          <p>text goes here</p>
        </div>
      </div>
    </div>
  </div>
</div>


